//
// Core: Main Sidebar
//

.main-sidebar {
  grid-area: main-sidebar;
  @include transition($sidebar-transition);
  z-index: $zindex-sidebar;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
}
