// Sidebar navigation menu
.nav-sidebar {
  // All levels
  .nav-item {
    width: 100%;

    > .nav-link {
      margin-bottom: .2rem;

      .right {
        @include transition(transform $transition-fn $transition-speed);
      }
    }

    &:not(.menu-open) .nav-treeview {
      display: none;
    }
  }

  // All levels
  .nav-link > .right,
  .nav-link > p > .right {
    position: absolute;
    right: 1rem;
    top: .7rem;
  }

  .nav-link {
    position: relative;
    width: 100%;

    p {
      display: inline;
      padding-left: .5rem;
      margin: 0;
    }

    .nav-icon {
      padding-left: .3rem;
    }
  }

  .nav-header {
    font-size: .9rem;
    padding: $nav-link-padding-y ($nav-link-padding-y * 1.5);
  }

  // Tree view menu
  .nav-treeview {
    // display: none;
    list-style: none;
    padding: 0;
  }

  .menu-open,
  .menu-is-opening {
    > .nav-link {
      svg.right,
      i.right {
        @include rotate(-90deg);
      }
    }
  }
}
