// SIDEBAR SKINS
// --------------------------------------------------------

// Dark sidebar
$sidebar-dark-bg-alt:                     $dark-alt !default;
$sidebar-dark-hover-bg-alt:             rgba(255, 255, 255, .1) !default;
$sidebar-dark-color-alt:                #c2c7d0 !default;
$sidebar-dark-hover-color-alt:            $white-alt !default;
$sidebar-dark-active-color-alt:           $white-alt !default;
$sidebar-dark-submenu-bg-alt:             transparent !default;
$sidebar-dark-submenu-color-alt:        #c2c7d0 !default;
$sidebar-dark-submenu-hover-color-alt:    $white-alt !default;
$sidebar-dark-submenu-hover-bg-alt:       $sidebar-dark-hover-bg-alt !default;
$sidebar-dark-submenu-active-color-alt:   $sidebar-dark-bg-alt !default;
$sidebar-dark-submenu-active-bg-alt:    rgba(255, 255, 255, .9) !default;

// Light sidebar
$sidebar-light-bg-alt:                     $white-alt !default;
$sidebar-light-hover-bg-alt:               rgba($black-alt, .1) !default;
$sidebar-light-color-alt:                  $gray-800-alt !default;
$sidebar-light-hover-color-alt:            $gray-900-alt !default;
$sidebar-light-active-color-alt:           $black-alt !default;
$sidebar-light-submenu-bg-alt:             transparent !default;
$sidebar-light-submenu-color-alt:        #777 !default;
$sidebar-light-submenu-hover-color-alt:    $black-alt !default;
$sidebar-light-submenu-hover-bg-alt:       $sidebar-light-hover-bg-alt !default;
$sidebar-light-submenu-active-color-alt:   $sidebar-light-hover-color-alt !default;
$sidebar-light-submenu-active-bg-alt:      $sidebar-light-submenu-hover-bg-alt !default;

// MAIN FOOTER
// --------------------------------------------------------
$main-footer-bg-alt:          $dark-alt !default;

// Body background (Affects main content background only)
$main-bg-alt:                 $black-alt !default;
$main-color-alt:              $white-alt !default;
