// MAIN FOOTER
// --------------------------------------------------------
$main-footer-bg-alt:          $dark-alt !default;

// Body background (Affects main content background only)
$main-bg-alt:                 tint-color($dark-alt, 7.5%) !default;
$main-color-alt:              $white-alt !default;
