.table-bordered {
  &,
  td,
  th {
    border-color: $gray-600-alt;
  }
}
.table-hover {
  tbody tr:hover {
    color: $gray-300-alt;
    background-color: tint-color($dark-alt, 2.5%);
    border-color: $gray-600-alt;
  }
}
.table {
  thead th {
    border-bottom-color: $gray-600-alt;
  }
  th,
  td {
    border-top-color: $gray-600-alt;
  }
  &.table-head-fixed {
    thead tr:nth-child(1) th {
      background-color: tint-color($dark-alt, 5%);
    }
  }
}
