# https://github.com/browserslist/browserslist#readme
# Updated for ES2022 compatibility

>= 0.5%
last 2 major versions
not dead
Chrome >= 97
Firefox >= 104
Firefox ESR
iOS >= 15.4
Safari >= 15.4
Edge >= 97
not Explorer <= 11
not ie 11
not android 4.4.3
not ios_saf < 15.4
not kaios <= 2.5 # fix floating label issues in Firefox (see https://github.com/postcss/autoprefixer/issues/1533)
