# generated types
.astro/

# unwanted types
**/env.d.ts

# System / Log files
*.DS_Store
*.log

# Archives
*.zip

# Sass Cache
.sass-cache

# Project files
.idea
nbproject
nbproject/private
.vscode/
.vs/

# Node / Bower
node_modules/
bower_components/

# Docs
/docs/_site/
/docs/vendor/
/docs/.bundle/
/docs_html/
.jekyll-cache/
.jekyll-metadata

# ETC
TODO
test.html
ad.js
/.cache/
CLAUDE.md
