/docs/
/docs_html/
/plugins/*
!/plugins/flot-old/
/.github/
/.temp/
/.lgtm.yml
/.cache/
/.idea/
/.browserlistrc
/.bundlewatch.config.json
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.gitignore
/.gitpod.yml
/.stylelintignore
/.stylelintrc.json
/composer.json
/tsconfig.json
/src/assets/
/src/config/
/src/html/
/src/utils/
