//
// Mixins: Sidebar Variant
//

@mixin sidebar-variant(
  $sidebar-bg,
  $sidebar-hover-bg,
  $sidebar-color,
  $sidebar-hover-color,
  $sidebar-active-color,
  $sidebar-submenu-bg,
  $sidebar-submenu-color,
  $sidebar-submenu-hover-color,
  $sidebar-submenu-hover-bg,
  $sidebar-submenu-active-color,
  $sidebar-submenu-active-bg
) {
  .main-sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-color;
  }

  // Sidebar navigation menu
  .nav-sidebar {
    // All levels
    .nav-link {
      color: $sidebar-color;

      &:hover,
      &:focus {
        color: $sidebar-hover-color;
      }

      .active {
        color: $sidebar-active-color;
      }
    }

    .nav-treeview {
      background-color: $sidebar-bg;
    }
  }

  // .sidebar-collapse:not(.layout-fixed) {
  //   .sidebar {
  //     .nav-sidebar .nav-item:hover {
  //       .nav-link:not(.active) {
  //         p {
  //           background-color: $sidebar-bg;
  //         }
  //       }
  //     }
  //   }
  // }
}
