//
// Mixins: Direct Chat
//

// Direct Chat Variant
@mixin direct-chat-variant($bg-color, $color: $white) {
  .end > .direct-chat-text {
    background-color: $bg-color;
    border-color: $bg-color;
    color: color-contrast($bg-color);

    &::after,
    &::before {
      border-left-color: $bg-color;
    }
  }
}
