//
// Mixins: Sidebar Variant
//

@mixin header-variant(
  $lte-header-bg,
  $lte-header-color,
  $lte-header-mobile-bg,
  $lte-header-mobile-color
) {
  .main-header {
    color: $lte-header-color;
    background-color: $lte-header-bg;
  }

  @include media-breakpoint-down(lg) {
    .main-header {
      color: $lte-header-mobile-color;
      background-color: $lte-header-mobile-bg;
    }
  }
}
