@mixin nav-treeview-dark(
  $lte-sidebar-bg,
  $lte-sidebar-hover-bg,
  $lte-sidebar-color,
  $lte-sidebar-hover-color,
  $lte-sidebar-active-color,
  $lte-sidebar-submenu-bg,
  $lte-sidebar-submenu-color,
  $lte-sidebar-submenu-hover-color,
  $lte-sidebar-submenu-hover-bg,
  $lte-sidebar-submenu-active-color,
  $lte-sidebar-submenu-active-bg,
  $lte-sidebar-header-color
) {
  // Sidebar background color
  background-color: $lte-sidebar-bg;

  // Sidebar Menu. First level links
  .nav-sidebar > .nav-item {
    // links
    > .nav-link {
      // border-left: 3px solid transparent;
      &:active {
        color: $lte-sidebar-color;
      }
    }

    // Hover and active states
    &.menu-open > .nav-link,
    &:hover > .nav-link,
    > .nav-link:focus  {
      background-color: $lte-sidebar-hover-bg;
      color: $lte-sidebar-hover-color;
    }

    > .nav-link.active {
      color: $lte-sidebar-hover-color;
    }

    // First Level Submenu
    > .nav-treeview {
      background-color: $lte-sidebar-submenu-bg;
    }
  }

  // Section Heading
  .nav-header {
    background-color: inherit; //darken($lte-sidebar-bg, 3%);
    color: $lte-sidebar-header-color;
  }

  // All links within the sidebar menu
  .sidebar {
    a {
      color: $lte-sidebar-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  // All submenus
  .nav-treeview {
    > .nav-item {
      > .nav-link {
        color: $lte-sidebar-submenu-color;

        &:hover,
        &:focus {
          background-color: $lte-sidebar-submenu-hover-bg;
          color: $lte-sidebar-submenu-hover-color;
        }
      }

      > .nav-link.active {
        &,
        &:hover,
        &:focus {
          background-color: $lte-sidebar-submenu-active-bg;
          color: $lte-sidebar-submenu-active-color;
        }
      }
    }
  }
}
