//
// Core: Main Sidebar
//

// Default Sidebar Theme
@include sidebar-variant($sidebar-dark-bg, $sidebar-dark-color);

.main-sidebar {
  grid-area: main-sidebar;
  @include transition($sidebar-transition);
  z-index: $zindex-sidebar;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
}

@include media-breakpoint-down(md) {
  // .main-sidebar {
  //   display: block;
  //   position: fixed;
  // }
  // .main-sidebar {
  //   margin-left: -#{$sidebar-width};

  //   .sidebar-open & {
  //     transform: translateX($sidebar-width);
  //   }
  // }

  // .sidebar-mini-icon {
  //   visibility: hidden;
  // }

  // .sidebar-open {
  //   .content-wrapper {
  //     opacity: .9;
  //   }
  // }
}

