//
// Core: Main Header
//

@include header-variant(
  $header-light-bg,
  $header-light-color,
  $header-mobile-light-bg,
  $header-mobile-light-color
);

.main-header {
  grid-area: main-header;
  border-bottom: $main-header-bottom-border;
  width: inherit;
  z-index: $zindex-main-header;
}

.layout-navbar-fixed {
  .main-header {
    // position: fixed;
  }

  .content-wrapper {
    // margin-top: $main-header-height;
  }
}
