//
// Core: Main Footer
//

.main-footer {
  grid-area: main-footer;
  background-color: $main-footer-bg;
  border-top: $main-footer-border-top;
  color: $main-footer-color;
  padding: $main-footer-padding;
  width: inherit;

  .text-sm &,
  &.text-sm {
    padding: $main-footer-padding-sm;
  }
}

.layout-footer-fixed {
  .main-footer {
    position: fixed;
    bottom: 0;
  }

  .content-wrapper {
    margin-bottom: $main-footer-height;
  }
}
