/* 
    Created on : Dec 6, 2013, 2:20:55 PM
    Author     : Almsaeed, Abdullah A
*/
/* 
    Created on : Dec 6, 2013, 2:20:55 PM
    Author     : Almsaeed, Abdullah A
*/
a:hover {
  text-decoration: none;
}
.navbar.navbar-theme a.navbar-brand {
  font-family: 'Signika Negative', sans-serif;
  color: #f9f9f9;
}
.navbar.navbar-theme a.navbar-brand [class^="fa"] {
  margin-right: 10px;
}
.navbar-theme.navbar-static-top {
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
}
.navbar-theme .navbar-nav > li > a {
  color: #f9f9f9;
}
.navbar.navbar-theme {
  color: #f9f9f9;
}
.navbar-theme.bg-primary {
  background: #383e4b !important;
}
.navbar-theme.bg-primary .navbar-form > .form-group > input[type='text'] {
  background: #4e5668;
  border: 1px solid #3a404e;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-primary .navbar-nav > li > a:visited,
.navbar-theme.bg-primary .navbar-nav > li > a:focus,
.navbar-theme.bg-primary .navbar-nav > li > a:active,
.navbar-theme.bg-primary .navbar-nav > li > a:hover,
.navbar-theme.bg-primary a.navbar-brand:hover {
  background: #22262e;
}
.navbar-theme.bg-green {
  background: #34a32e !important;
}
.navbar-theme.bg-green .navbar-form > .form-group > input[type='text'] {
  background: #43c83c;
  border: 1px solid #35a72f;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-green .navbar-nav > li > a:visited,
.navbar-theme.bg-green .navbar-nav > li > a:focus,
.navbar-theme.bg-green .navbar-nav > li > a:active,
.navbar-theme.bg-green .navbar-nav > li > a:hover,
.navbar-theme.bg-green a.navbar-brand:hover {
  background: #277b23;
}
.navbar-theme.bg-yellow {
  background: #e66b08 !important;
}
.navbar-theme.bg-yellow .navbar-form > .form-group > input[type='text'] {
  background: #f88529;
  border: 1px solid #eb6d08;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-yellow .navbar-nav > li > a:visited,
.navbar-theme.bg-yellow .navbar-nav > li > a:focus,
.navbar-theme.bg-yellow .navbar-nav > li > a:active,
.navbar-theme.bg-yellow .navbar-nav > li > a:hover,
.navbar-theme.bg-yellow a.navbar-brand:hover {
  background: #b55406;
}
.navbar-theme.bg-red {
  background: #d80506 !important;
}
.navbar-theme.bg-red .navbar-form > .form-group > input[type='text'] {
  background: #f91718;
  border: 1px solid #dd0506;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-red .navbar-nav > li > a:visited,
.navbar-theme.bg-red .navbar-nav > li > a:focus,
.navbar-theme.bg-red .navbar-nav > li > a:active,
.navbar-theme.bg-red .navbar-nav > li > a:hover,
.navbar-theme.bg-red a.navbar-brand:hover {
  background: #a60405;
}
.navbar-theme.bg-blue {
  background: #0c5175 !important;
}
.navbar-theme.bg-blue .navbar-form > .form-group > input[type='text'] {
  background: #1171a3;
  border: 1px solid #0d5479;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-blue .navbar-nav > li > a:visited,
.navbar-theme.bg-blue .navbar-nav > li > a:focus,
.navbar-theme.bg-blue .navbar-nav > li > a:active,
.navbar-theme.bg-blue .navbar-nav > li > a:hover,
.navbar-theme.bg-blue a.navbar-brand:hover {
  background: #073147;
}
.navbar-theme.bg-purple {
  background: #72208d !important;
}
.navbar-theme.bg-purple .navbar-form > .form-group > input[type='text'] {
  background: #932ab6;
  border: 1px solid #752191;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-purple .navbar-nav > li > a:visited,
.navbar-theme.bg-purple .navbar-nav > li > a:focus,
.navbar-theme.bg-purple .navbar-nav > li > a:active,
.navbar-theme.bg-purple .navbar-nav > li > a:hover,
.navbar-theme.bg-purple a.navbar-brand:hover {
  background: #501763;
}
.navbar-theme.bg-light-blue {
  background: #25a7e3 !important;
}
.navbar-theme.bg-light-blue .navbar-form > .form-group > input[type='text'] {
  background: #52b9e9;
  border: 1px solid #29a9e4;
  color: #f9f9f9;
  border-radius: 0;
}
.navbar-theme.bg-light-blue .navbar-nav > li > a:visited,
.navbar-theme.bg-light-blue .navbar-nav > li > a:focus,
.navbar-theme.bg-light-blue .navbar-nav > li > a:active,
.navbar-theme.bg-light-blue .navbar-nav > li > a:hover,
.navbar-theme.bg-light-blue a.navbar-brand:hover {
  background: #1889bd;
}
.navbar-theme .navbar-toggle > .icon-bar {
  background: #f9f9f9;
}
.navbar-theme .navbar-toggle {
  border: 0px;
}
.navbar-dropdown {
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
}
.navbar-dropdown > .dropdown-header,
.navbar-dropdown > .dropdown-footer a {
  font-size: 15px;
  word-break: none;
  background-color: #f2f2f2;
  color: #444444;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
}
.navbar-dropdown > .dropdown-header {
  border-bottom: 1px solid #dddddd;
}
.navbar-dropdown > li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dddddd;
}
.navbar-dropdown > li > a {
  padding: 0px 0px;
}
.navbar-dropdown > li > a > span {
  padding: 15px 15px 15px 10px;
}
.navbar-dropdown > li > a > .fa {
  padding: 15px 0px;
  background: #d80506;
  color: #f9f9f9;
  font-size: 14px;
  width: 50px;
  text-align: center;
}
.navbar-dropdown > li.warning > a > .fa {
  background: #e66b08;
}
.navbar-dropdown > li.danger > a > .fa {
  background: #d80506;
}
.navbar-dropdown > li.info > a > .fa {
  background: #0c5175;
}
.navbar-dropdown > li.info2 > a > .fa {
  background: #25a7e3;
}
.navbar-dropdown > li.primary > a > .fa {
  background: #383e4b;
}
html,
body {
  background-color: #f2f3f6;
}
.lte-main-container {
  background-color: #ffffff;
  border-left: 1px solid #dddddd;
  padding-bottom: 5px;
}
.lte-main-content:after {
  clear: both;
}
.lte-main-content:before,
.lte-main-content:after {
  content: "";
  display: table;
}
@media (max-width: 767px) {
  .lte-main-container {
    border-left: none;
  }
}
.lte-sidebar {
  z-index: 999999;
  background-color: #f2f3f6;
  color: #444444;
  font-family: 'Signika Negative', sans-serif;
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
}
.lte-sidebar-menu {
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
  list-style: none;
}
.lte-sidebar-menu > li > a {
  padding: 10px;
  color: #444;
  display: block;
  border-bottom: 1px solid #dddddd;
  font-size: 15px;
  white-space: nowrap;
}
.lte-sidebar-menu > li > a > [class^="fa"] {
  color: #383e4b;
  margin-right: 10px;
  font-size: 15px;
}
.lte-sidebar-menu > li > a > .pull-right.fa {
  line-height: 22px;
}
.lte-sidebar-menu > li.active > a,
.lte-sidebar-menu > li > a:hover {
  background: #fefefe;
  color: #222222;
  text-decoration: none;
}
.lte-sidebar-menu > li.active > a {
  position: relative;
  background: #ffffff;
}
.lte-sidebar-menu > li.active > a:after,
.lte-sidebar-menu > li.active > a:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.lte-sidebar-menu > li.active > a:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.lte-sidebar-menu > li.active > a:before {
  border-color: rgba(221, 221, 221, 0);
  border-left-color: #dddddd;
  border-width: 11px;
  margin-top: -11px;
}
.lte-sidebar-menu > li a:hover > [class^="fa"] {
  color: #22262e;
  margin-right: 13px;
}
.lte-sidebar-menu > form > input {
  width: 90% !important;
}
.lte-menu-sm {
  z-index: 999999;
  cursor: pointer;
  position: relative;
  color: #f9f9f9;
  /*    -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;*/

}
.fixed {
  position: absolute;
  border-right: 1px solid #dddddd;
}
.lte-main-fixed {
  margin-top: 50px;
}
.lte-chart {
  height: 300px;
}
div.page-header {
  margin: 0px 0 10px 0;
  padding: 21px 10px 22px 10px;
  font-size: 2.0em;
}
div.page-header > small {
  font-size: 14px;
  color: #999999;
}
@media (max-width: 767px) {
  div.page-header > small {
    display: block;
    margin-left: 80px;
  }
  div.page-header > .btn-group {
    float: none !important;
    margin-left: 80px;
  }
}
div.page-header > [class^="fa"] {
  margin: 0 10px 0 20px;
  color: #383e4b;
}
.lte-dashboard > .row > [class^="col"] {
  margin-bottom: 20px;
}
footer {
  border-top: 1px solid #dddddd;
  background: #f2f3f6;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.bg-primary {
  background-color: #383e4b !important;
  color: #f9f9f9 !important;
}
.bg-green {
  background-color: #34a32e !important;
  color: #f9f9f9 !important;
}
.bg-yellow {
  background-color: #e66b08 !important;
  color: #f9f9f9 !important;
}
.bg-red {
  background-color: #d80506 !important;
  color: #f9f9f9 !important;
}
.bg-blue {
  background-color: #0c5175 !important;
  color: #f9f9f9 !important;
}
.bg-light-blue {
  background-color: #25a7e3 !important;
  color: #f9f9f9 !important;
}
.bg-purple {
  background-color: #72208d !important;
  color: #f9f9f9 !important;
}
.bg-white {
  background-color: #f9f9f9 !important;
  color: #383e4b !important;
}
.font-white {
  color: #f9f9f9 !important;
}
.font-primary,
.dropdown-menu .font-primary a {
  color: #383e4b !important;
}
.font-green,
.dropdown-menu .font-green a {
  color: #34a32e !important;
}
.font-yellow,
.dropdown-menu .font-yellow a {
  color: #e66b08 !important;
}
.font-red,
.dropdown-menu .font-red a {
  color: #d80506 !important;
}
.font-blue,
.dropdown-menu .font-blue a {
  color: #0c5175 !important;
}
.font-light-blue,
.dropdown-menu .font-light-blue a {
  color: #25a7e3 !important;
}
.font-purple,
.dropdown-menu .font-purple a {
  color: #72208d !important;
}
.box {
  border-bottom: 1px solid #dddddd;
}
.box > .box-header {
  padding: 10px;
}
.box > .box-header:after {
  clear: both;
}
.box > .box-header:before,
.box > .box-header:after {
  content: "";
  display: table;
}
.box-header > .box-title,
.box-header > .box-title > a,
.box-header > a > .box-title {
  float: left;
  font-size: 20px;
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
}
.box-header > .box-tools {
  float: right;
  font-size: 20px;
}
.box-header > .box-tools > i {
  cursor: pointer;
}
.box > .box-body {
  padding: 10px;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.box > .table-container > table,
.table-container > .box > .table {
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  margin-bottom: 0 !important;
  padding-right: 1px;
  width: 100%;
  display: table;
}
.box > .table-container > .table > thead > tr:first-of-type > th,
.box > .table-container > .table > tbody > tr:first-of-type > th,
.box > .table-container > .table > thead > tr:first-of-type > td,
.box > .table-container > .table > tbody > tr:first-of-type > td {
  border-top: 0;
}
.box > .box-footer {
  padding: 5px;
  background: #f9f9f9;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.box > .box-footer .btn {
  margin-right: 10px;
}
.box > .box-footer .btn.pull-right:first-of-type {
  margin-right: 0;
}
.box > .box-footer .btn:first-of-type {
  margin-right: 0;
}
.box > .box-footer:after {
  clear: both;
}
.box > .box-footer:before,
.box > .box-footer:after {
  content: "";
  display: table;
}
.box.box-height-contorl > .box-body,
.box.box-height-contorl > .table-container {
  max-height: 300px!important;
  overflow: auto;
}
.box.box-fixed-height > .box-body,
.box.box-fixed-height > .table-container {
  height: 180px!important;
  max-height: 180px!important;
  overflow: auto;
}
.box.box-default > .box-header {
  color: #444444;
  border-bottom: 1px solid #dddddd;
}
.box.box-default > .box-header > .box-tools > .fa:hover {
  color: #999999;
}
.box.box-green > .box-header {
  background: #34a32e;
  border: 1px solid #34a32e;
  color: #f9f9f9;
}
.box.box-green > .box-header .box-tools > i:hover {
  color: #90de8c;
}
.box.box-blue > .box-header {
  background: #0c5175;
  border: 1px solid #0c5175;
  color: #f9f9f9;
}
.box.box-blue > .box-header .box-tools > i:hover {
  color: #31aae9;
}
.box.box-yellow > .box-header {
  background: #e66b08;
  border: 1px solid #e66b08;
  color: #f9f9f9;
}
.box.box-yellow > .box-header .box-tools > i:hover {
  color: #fbbd8c;
}
.box.box-red > .box-header {
  background: #d80506;
  border: 1px solid #d80506;
  color: #f9f9f9;
}
.box.box-red > .box-header .box-tools > i:hover {
  color: #fc7b7b;
}
.box.box-primary > .box-header {
  background: #383e4b;
  border: 1px solid #383e4b;
  color: #f9f9f9;
}
.box.box-primary > .box-header .box-tools > i:hover {
  color: #7e889e;
}
.box.box-light-blue > .box-header {
  background: #25a7e3;
  border: 1px solid #25a7e3;
  color: #f9f9f9;
}
.box.box-light-blue > .box-header .box-tools > i:hover {
  color: #acdef5;
}
.box.box-purple > .box-header {
  background: #72208d;
  border: 1px solid #72208d;
  color: #f9f9f9;
}
.box.box-purple > .box-header .box-tools > i:hover {
  color: #c069dd;
}
.box > .box-body > .progress {
  height: 10px!important;
  border-radius: 0;
}
input {
  border-radius: 0!important;
}
textarea {
  border-radius: 0!important;
}
.input-group-addon {
  border-radius: 0;
  background-color: #f9f9f9;
}
.input-group-addon.control {
  font-size: 12px;
  min-width: 40px;
}
.btn {
  border-radius: 0;
}
.btn.btn-red {
  background: #d80506;
  border: 1px solid #d80506;
  color: #f9f9f9;
}
.btn.btn-red:hover {
  background: #a60405;
  border: 1px solid #a60405;
}
.btn.btn-light-blue {
  background: #25a7e3;
  border: 1px solid #25a7e3;
  color: #f9f9f9;
}
.btn.btn-light-blue:hover {
  background: #1889bd;
  border: 1px solid #1889bd;
}
.btn.btn-blue {
  background: #0c5175;
  border: 1px solid #0c5175;
  color: #f9f9f9;
}
.btn.btn-blue:hover {
  background: #073147;
  border: 1px solid #073147;
}
.btn.btn-primary {
  background: #383e4b;
  border: 1px solid #383e4b;
  color: #f9f9f9;
}
.btn.btn-primary:hover {
  background: #22262e;
  border: 1px solid #22262e;
}
.btn.btn-yellow {
  background: #e66b08;
  border: 1px solid #e66b08;
  color: #f9f9f9;
}
.btn.btn-yellow:hover {
  background: #b55406;
  border: 1px solid #b55406;
}
.btn.btn-green {
  background: #34a32e;
  border: 1px solid #34a32e;
  color: #f9f9f9;
}
.btn.btn-green:hover {
  background: #277b23;
  border: 1px solid #277b23;
}
.btn.btn-purple {
  background: #72208d;
  border: 1px solid #72208d;
  color: #f9f9f9;
}
.btn.btn-purple:hover {
  background: #501763;
  border: 1px solid #501763;
}
.small-box {
  height: 100px;
  font-size: 20px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 600;
  padding: 10px;
  line-height: 1;
  text-align: center;
}
.small-box > .fa {
  font-size: 40px;
}
.small-box .small-box-text {
  padding-right: 7px;
  margin-top: 5px;
  white-space: nowrap;
  display: block;
}
.small-box .small-box-text small {
  line-height: 0;
  font-size: 12px;
  padding: 10px 5px;
  display: block;
  font-weight: normal;
}
.box > .box-body .small-box {
  margin-bottom: 10px;
}
.todo-list {
  list-style: none;
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
}
.todo-list > li {
  width: 100%;
  padding: 10px 2px 10px 7px;
}
.todo-list > li > .label {
  display: block;
}
.todo-list > li > input[type='checkbox'] {
  margin-right: 5px;
}
.todo-list > li:not(.heading) {
  border-bottom: 1px solid #dddddd;
}
.todo-list > li:last-of-type {
  border-bottom: none;
}
.todo-list > .heading {
  color: #e66b08;
  padding: 5px;
  border-bottom: 1px solid #dddddd;
  background: #f2f2f2;
}
.todo-list > li.done {
  text-decoration: line-through;
  color: #999999;
}
.todo-list > li.done > .tools > .fa {
  color: #999999;
}
@media (max-width: 767px) {
  .small-box i,
  .small-box [class^="fa"] {
    font-size: 45px;
  }
}
.lte-tree > .lte-tree-menu {
  padding: 0!important;
  margin: 0!important;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.lte-tree > .lte-tree-menu > li > a {
  padding: 7px 0px 7px 10px;
  font-size: 13px;
  border-bottom: 1px solid #dddddd;
  display: block;
  color: #444444;
}
.lte-tree > .lte-tree-menu > li > a:hover {
  background: #FFFFFF;
}
.lte-tree-menu > li.active > a {
  background: #f9f9f9;
  font-weight: bold;
}
.lte-tree > .lte-tree-menu > li a > .fa {
  margin-right: 10px;
}
.signika {
  font-family: 'Signika Negative', sans-serif !important;
}
.line {
  margin: 10px 0;
  height: 1px;
  background: #dddddd;
  width: 100%;
}
.valign {
  margin-top: 100px;
}
.clear-pad {
  padding: 0!important;
  margin: 0!important;
}
@media print {
  .noPrint {
    display: none;
  }
}
