*~
.DS_Store
.DS_Store*
ehthumbs.db
Thumbs.db
*.log
/node_modules/
/bower_components/
/nbproject/
/gh-pages/
/package-lock.json
Gruntfile.js
/build
/docs
/tests
/spec
.*
/src/docs
*.psd
*.ai
composer.json
