.app-main {
  grid-area: #{$lte-prefix}app-main;
  max-width: 100vw;
  padding-bottom: 1rem;
  @include transition($lte-transition-speed $lte-transition-fn);

  .app-content-header {
    padding: 1rem $lte-content-padding-x;

    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      line-height: 2.5rem;
    }
  }

  .app-content-bottom-area {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $lte-content-padding-y $lte-content-padding-x;
    display: flex;
    align-items: center;
    background: $lte-app-footer-bg;
    border-top: $lte-app-footer-border-top;

    > .row {
      display: contents;
    }
  }

  &.app-content-bottom-area-sm {
    padding-bottom: $lte-app-content-bottom-area-height-sm + 1rem;

    .app-content-bottom-area {
      height: $lte-app-content-bottom-area-height-sm;
    }
  }

  &.app-content-bottom-area-md {
    padding-bottom: $lte-app-content-bottom-area-height-md + 1rem;

    .app-content-bottom-area {
      height: $lte-app-content-bottom-area-height-md;
    }
  }

  &.app-content-bottom-area-lg {
    padding-bottom: $lte-app-content-bottom-area-height-lg + 1rem;

    .app-content-bottom-area {
      height: $lte-app-content-bottom-area-height-lg;
    }
  }

  .app-content {
    padding: $lte-content-padding-y $lte-content-padding-x;
  }
}
