.app-main {
  position: relative;
  grid-area: #{$lte-prefix}app-main;
  max-width: 100vw;
  padding-bottom: $grid-gutter-width * .5;
  @include transition($lte-transition-speed $lte-transition-fn);

  .app-content-header {
    padding: 1rem $lte-content-padding-x;

    .breadcrumb {
      padding: 0;
      margin-bottom: 0;
      line-height: 2.5rem;

      a {
        text-decoration: none;
      }
    }
  }
}
