// Utilities

// util-opacity
$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      20: .2,
      30: .3,
      40: .4,
      50: .5,
      60: .6,
      70: .7,
      80: .8,
      90: .9,
      100: 1,
    )
  )
);
