//
// Component: Direct Chat
//

.direct-chat {
  .card-body {
    position: relative;
    padding: 0;
    overflow-x: hidden;
  }

  &.chat-pane-open {
    .direct-chat-contacts {
      @include translate(0, 0);
    }
  }


  &.timestamp-light {
    .direct-chat-timestamp {
      color: tint-color(color-contrast($color-contrast-light), 10%);
    }
  }

  &.timestamp-dark {
    .direct-chat-timestamp {
      color: shade-color(color-contrast($color-contrast-dark), 20%);
    }
  }
}

.direct-chat-messages {
  @include translate(0, 0);
  height: 250px;
  padding: 10px;
  overflow: auto;
}

.direct-chat-msg,
.direct-chat-text {
  display: block;
}

.direct-chat-msg {
  @include clearfix ();
  margin-bottom: 10px;
}

.direct-chat-messages,
.direct-chat-contacts {
  @include transition(transform .5s ease-in-out);
}

.direct-chat-text {
  @if $enable-rounded {
    @include border-radius($border-radius-lg);
  }

  position: relative;
  padding: 5px 10px;
  margin: 5px 0 0 50px;
  color: $lte-direct-chat-default-font-color;
  background-color: $lte-direct-chat-default-msg-bg;
  border: 1px solid $lte-direct-chat-default-msg-border-color;

  //Create the arrow
  &::after,
  &::before {
    position: absolute;
    top: 15px;
    right: 100%;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-right-color: $lte-direct-chat-default-msg-border-color;
  }

  &::after {
    margin-top: -5px;
    border-width: 5px;
  }

  &::before {
    margin-top: -6px;
    border-width: 6px;
  }

  .end & {
    margin-right: 50px;
    margin-left: 0;

    &::after,
    &::before {
      right: auto;
      left: 100%;
      border-right-color: transparent;
      border-left-color: $lte-direct-chat-default-msg-border-color;
    }
  }
}

.direct-chat-img {
  @include border-radius(50%);
  float: left;
  width: 40px;
  height: 40px;

  .end & {
    float: right;
  }
}

.direct-chat-infos {
  display: block;
  margin-bottom: 2px;
  font-size: $font-size-sm;
}

.direct-chat-name {
  font-weight: 600;
}

.direct-chat-timestamp {
  color: shade-color($gray-500, 25%);
}

//Direct chat contacts pane
.direct-chat-contacts-open {
  .direct-chat-contacts {
    @include translate(0, 0);
  }
}

.direct-chat-contacts {
  @include translate(101%, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  overflow: auto;
  color: $white;
  background-color: $dark;
}

.direct-chat-contacts-light {
  background-color: $light;

  .contacts-list-name {
    color: $gray-700;
  }

  .contacts-list-date {
    color: $gray-600;
  }

  .contacts-list-msg {
    color: shade-color($gray-600, 10%);
  }
}

//Contacts list -- for displaying contacts in direct chat contacts pane
.contacts-list {
  @include list-unstyled ();

  > li {
    @include clearfix ();
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid rgba($black, .2);

    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.contacts-list-img {
  @include border-radius(50%);
  float: left;
  width: 40px;
}

.contacts-list-info {
  margin-left: 45px;
  color: $white;
}

.contacts-list-name,
.contacts-list-status {
  display: block;
}

.contacts-list-name {
  font-weight: 600;
}

.contacts-list-status {
  font-size: $font-size-sm;
}

.contacts-list-date {
  font-weight: 400;
  color: $gray-400;
}

.contacts-list-msg {
  color: shade-color($gray-400, 10%);
}

// Color variants
@each $name, $color in $theme-colors {
  .direct-chat-#{$name} {
    @include direct-chat-variant($color);
  }
}

@each $name, $color in $colors {
  .direct-chat-#{$name} {
    @include direct-chat-variant($color);
  }
}
