@include media-breakpoint-down($lte-sidebar-breakpoint) {
  .app-wrapper {
    .app-sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      max-height: 100vh;
      margin-left: calc(var(--#{$lte-prefix}sidebar-width) * -1); // stylelint-disable-line function-disallowed-list

      .sidebar-wrapper {
        height: subtract(100vh, add($lte-app-header-height-inner, $lte-app-header-bottom-border-width));
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  .sidebar-open {
    .app-sidebar {
      margin-left: 0;
    }
  }
}
