@include media-breakpoint-up($lte-sidebar-breakpoint) {
  .layout-fixed {
    .app-sidebar {
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      float: none;
      max-height: 100vh;

      .sidebar-wrapper {
        height: subtract(100vh, add($lte-app-header-height-inner, $lte-app-header-bottom-border-width));
      }
    }

    .app-header,
    .app-main,
    .app-footer {
      margin-left: var(--#{$lte-prefix}sidebar-width);
      @include transition($lte-transition-speed $lte-transition-fn);
    }

    &.sidebar-collapse {
      .app-header,
      .app-main,
      .app-footer {
        margin-left: $lte-sidebar-mini-width;
      }
    }

    &.sidebar-close {
      .app-header,
      .app-main,
      .app-footer {
        margin-left: 0;
      }
    }
  }
}
