@include media-breakpoint-down($lte-sidebar-breakpoint) {
  .wrapper {
    .main-sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      min-height: 100vh;
      margin-left: calc(var(--#{$lte-prefix}sidebar-width) * -1); // stylelint-disable-line function-disallowed-list

      .sidebar {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  .sidebar-open {
    .main-sidebar {
      margin-left: 0;
    }
  }
}
