//
// Core: Main Footer
//

.main-footer {
  grid-area: #{$lte-prefix}main-footer;
  width: inherit;
  max-width: 100vw;
  padding: $lte-main-footer-padding;
  color: $lte-main-footer-color;
  background-color: $lte-main-footer-bg;
  border-top: $lte-main-footer-border-top;
}

