//
// Core: Main Sidebar
//


.main-sidebar {
  @include transition($lte-sidebar-transition);
  z-index: $lte-zindex-sidebar;
  grid-area: #{lte-prefix}main-sidebar;
  min-width: var(--#{$lte-prefix}sidebar-width);
  max-width: var(--#{$lte-prefix}sidebar-width);

  .nav-sidebar > .nav-item {
    > .nav-link.active {
      color: var(--#{$lte-prefix}sidebar-menu-active-color) !important;
      background-color: var(--#{$lte-prefix}sidebar-menu-active-bg) !important;
    }
  }
}

@each $color, $value in $theme-colors {
  .sidebar-color-#{$color} {
    --#{$lte-prefix}sidebar-menu-active-bg: #{$value};
    --#{$lte-prefix}sidebar-menu-active-color: #{color-contrast($value)};
  }
}

.sidebar-bg-dark {
  --#{$lte-prefix}sidebar-dark-bg: #{$lte-sidebar-dark-bg};
  --#{$lte-prefix}sidebar-dark-hover-bg: #{$lte-sidebar-dark-hover-bg};
  --#{$lte-prefix}sidebar-dark-color: #{$lte-sidebar-dark-color};
  --#{$lte-prefix}sidebar-dark-hover-color: #{$lte-sidebar-dark-hover-color};
  --#{$lte-prefix}sidebar-dark-active-color: #{$lte-sidebar-dark-active-color};
  --#{$lte-prefix}sidebar-dark-submenu-bg: #{$lte-sidebar-dark-submenu-bg};
  --#{$lte-prefix}sidebar-dark-submenu-color: #{$lte-sidebar-dark-submenu-color};
  --#{$lte-prefix}sidebar-dark-submenu-hover-color: #{$lte-sidebar-dark-submenu-hover-color};
  --#{$lte-prefix}sidebar-dark-submenu-hover-bg: #{$lte-sidebar-dark-submenu-hover-bg};
  --#{$lte-prefix}sidebar-dark-submenu-active-color: #{$lte-sidebar-dark-submenu-active-color};
  --#{$lte-prefix}sidebar-dark-submenu-active-bg: #{$lte-sidebar-dark-submenu-active-bg};
  --#{$lte-prefix}sidebar-dark-header-color: #{$lte-sidebar-dark-header-color};

  // Sidebar background color
  background-color: var(--#{$lte-prefix}sidebar-dark-bg);

  // Sidebar Menu. First level links
  .nav-sidebar > .nav-item {
    // links
    > .nav-link {
      &:active {
        color: var(--#{$lte-prefix}sidebar-dark-color);
      }
    }

    // Hover and active states
    &.menu-open > .nav-link,
    &:hover > .nav-link,
    > .nav-link:focus  {
      color: var(--#{$lte-prefix}sidebar-dark-hover-color);
      background-color: var(--#{$lte-prefix}sidebar-dark-hover-bg);
    }

    > .nav-link.active {
      color: var(--#{$lte-prefix}sidebar-dark-hover-color);
    }

    // First Level Submenu
    > .nav-treeview {
      background-color: var(--#{$lte-prefix}sidebar-dark-submenu-bg);
    }
  }

  // Section Heading
  .nav-header {
    color: var(--#{$lte-prefix}sidebar-dark-header-color);
    background-color: inherit;
  }

  // All links within the sidebar menu
  .sidebar {
    a {
      color: var(--#{$lte-prefix}sidebar-dark-color);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  // All submenus
  .nav-treeview {
    > .nav-item {
      > .nav-link {
        color: var(--#{$lte-prefix}sidebar-dark-submenu-color);

        &:hover,
        &:focus {
          color: var(--#{$lte-prefix}sidebar-dark-submenu-hover-color);
          background-color: var(--#{$lte-prefix}sidebar-dark-submenu-hover-bg);
        }
      }

      > .nav-link.active {
        &,
        &:hover,
        &:focus {
          color: var(--#{$lte-prefix}sidebar-dark-submenu-active-color);
          background-color: var(--#{$lte-prefix}sidebar-dark-submenu-active-bg);
        }
      }
    }
  }
}

.sidebar-bg-light {
  --#{$lte-prefix}sidebar-light-bg: #{$lte-sidebar-light-bg};
  --#{$lte-prefix}sidebar-light-hover-bg: #{$lte-sidebar-light-hover-bg};
  --#{$lte-prefix}sidebar-light-color: #{$lte-sidebar-light-color};
  --#{$lte-prefix}sidebar-light-hover-color: #{$lte-sidebar-light-hover-color};
  --#{$lte-prefix}sidebar-light-active-color: #{$lte-sidebar-light-active-color};
  --#{$lte-prefix}sidebar-light-submenu-bg: #{$lte-sidebar-light-submenu-bg};
  --#{$lte-prefix}sidebar-light-submenu-color: #{$lte-sidebar-light-submenu-color};
  --#{$lte-prefix}sidebar-light-submenu-hover-color: #{$lte-sidebar-light-submenu-hover-color};
  --#{$lte-prefix}sidebar-light-submenu-hover-bg: #{$lte-sidebar-light-submenu-hover-bg};
  --#{$lte-prefix}sidebar-light-submenu-active-color: #{$lte-sidebar-light-submenu-active-color};
  --#{$lte-prefix}sidebar-light-submenu-active-bg: #{$lte-sidebar-light-submenu-active-bg};
  --#{$lte-prefix}sidebar-light-header-color: #{$lte-sidebar-light-header-color};

  // Sidebar background color
  background-color: var(--#{$lte-prefix}sidebar-light-bg);

  // Sidebar Menu. First level links
  .nav-sidebar > .nav-item {
    // links
    > .nav-link {
      &:active,
      &:focus {
        color: var(--#{$lte-prefix}sidebar-light-color);
      }
    }

    // Hover and active states
    &.menu-open > .nav-link,
    &:hover > .nav-link {
      color: var(--#{$lte-prefix}sidebar-light-hover-color);
      background-color: var(--#{$lte-prefix}sidebar-light-hover-bg);
    }

    > .nav-link.active {
      color: var(--#{$lte-prefix}sidebar-light-active-color);
    }

    // First Level Submenu
    > .nav-treeview {
      background-color: var(--#{$lte-prefix}sidebar-light-submenu-bg);
    }
  }

  // Section Heading
  .nav-header {
    color: var(--#{$lte-prefix}sidebar-light-header-color);
    background-color: inherit;
  }

  // All links within the sidebar menu
  .sidebar {
    a {
      color: var(--#{$lte-prefix}sidebar-light-color);

      &:hover {
        text-decoration: none;
      }
    }
  }

  // All submenus
  .nav-treeview {
    > .nav-item {
      > .nav-link {
        color: var(--#{$lte-prefix}sidebar-light-submenu-color);

        &:hover,
        &:focus {
          color: var(--#{$lte-prefix}sidebar-light-submenu-hover-color);
          background-color: var(--#{$lte-prefix}sidebar-light-submenu-hover-bg);
        }
      }

      > .nav-link.active {
        &,
        &:hover {
          color: var(--#{$lte-prefix}sidebar-light-submenu-active-color);
          background-color: var(--#{$lte-prefix}sidebar-light-submenu-active-bg);
        }
      }

      > .nav-link:hover {
        background-color: var(--#{$lte-prefix}sidebar-light-submenu-hover-bg);
      }
    }
  }
}

.hold-transition {
  .main-sidebar {
    @include transition(none !important);
    animation: none !important;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .sidebar-bg-dark {
      --#{$lte-prefix}sidebar-dark-bg: #{$lte-sidebar-dark-bg-dark};
    }
    .sidebar-bg-light {
      --#{$lte-prefix}sidebar-light-bg: #{$lte-sidebar-light-bg-dark};
    }
  }
}
