//
// Core: Main Header
//

@include header-variant(
  $header-light-bg,
  $header-light-color,
  $header-mobile-light-bg,
  $header-mobile-light-color
);

.main-header {
  grid-area: main-header;
  border-bottom: $main-header-bottom-border;
  width: inherit;
  z-index: $zindex-main-header;
}

// Navbar badge
.navbar-badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 5px;
  top: 9px;
}

.layout-navbar-fixed {
  .main-header {
    // position: fixed;
  }

  .content-wrapper {
    // margin-top: $main-header-height;
  }
}
