//
// Core: Main Sidebar
//

.sidebar-bg-dark {
  @include nav-treeview-dark (
    var(--#{$lte-prefix}sidebar-dark-bg),
    var(--#{$lte-prefix}sidebar-dark-hover-bg),
    var(--#{$lte-prefix}sidebar-dark-color),
    var(--#{$lte-prefix}sidebar-dark-hover-color),
    var(--#{$lte-prefix}sidebar-dark-active-color),
    var(--#{$lte-prefix}sidebar-dark-submenu-bg),
    var(--#{$lte-prefix}sidebar-dark-submenu-color),
    var(--#{$lte-prefix}sidebar-dark-submenu-hover-color),
    var(--#{$lte-prefix}sidebar-dark-submenu-hover-bg),
    var(--#{$lte-prefix}sidebar-dark-submenu-active-color),
    var(--#{$lte-prefix}sidebar-dark-submenu-active-bg),
    var(--#{$lte-prefix}sidebar-dark-header-color)
  );
}

.sidebar-bg-light {
  @include nav-treeview-light (
    var(--#{$lte-prefix}sidebar-light-bg),
    var(--#{$lte-prefix}sidebar-light-hover-bg),
    var(--#{$lte-prefix}sidebar-light-color),
    var(--#{$lte-prefix}sidebar-light-hover-color),
    var(--#{$lte-prefix}sidebar-light-active-color),
    var(--#{$lte-prefix}sidebar-light-submenu-bg),
    var(--#{$lte-prefix}sidebar-light-submenu-color),
    var(--#{$lte-prefix}sidebar-light-submenu-hover-color),
    var(--#{$lte-prefix}sidebar-light-submenu-hover-bg),
    var(--#{$lte-prefix}sidebar-light-submenu-active-color),
    var(--#{$lte-prefix}sidebar-light-submenu-active-bg),
    var(--#{$lte-prefix}sidebar-light-header-color)
  );
}

// .sidebar-color-primary {
//   @include sidebar-color($primary);
// }

.main-sidebar {
  @include transition($lte-sidebar-transition);
  z-index: $lte-zindex-sidebar;
  grid-area: main-sidebar;
  min-width: $lte-sidebar-width;
  max-width: $lte-sidebar-width;

  .nav-sidebar > .nav-item {
    > .nav-link.active {
      color: var(--#{$lte-prefix}sidebar-menu-active-color);
      background-color: var(--#{$lte-prefix}sidebar-menu-active-bg);
    }
  }
}

.hold-transition {
  .main-sidebar {
    @include transition(none !important);
    animation: none !important;
  }
}
