//
// Core: Main Header
//

@include header-variant(
  $lte-header-light-bg,
  $lte-header-light-color,
  $lte-header-mobile-light-bg,
  $lte-header-mobile-light-color
);

.main-header {
  grid-area: main-header;
  border-bottom: $lte-main-header-bottom-border;
  z-index: $lte-zindex-main-header;

  .nav-link {
    height: $nav-link-height;
    position: relative;
  }
}

// Navbar badge
.navbar-badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 5px;
  top: 9px;
}

.layout-navbar-fixed {
  .main-header {
    // position: fixed;
  }

  .content-wrapper {
    // margin-top: $lte-main-header-height;
  }
}
