.sidebar-bg-dark {
  @include nav-treeview-dark (
    $sidebar-dark-bg,
    $sidebar-dark-hover-bg,
    $sidebar-dark-color,
    $sidebar-dark-hover-color,
    $sidebar-dark-active-color,
    $sidebar-dark-submenu-bg,
    $sidebar-dark-submenu-color,
    $sidebar-dark-submenu-hover-color,
    $sidebar-dark-submenu-hover-bg,
    $sidebar-dark-submenu-active-color,
    $sidebar-dark-submenu-active-bg
  );
}

.sidebar-bg-light {
  @include nav-treeview-light (
    $sidebar-light-bg,
    $sidebar-light-hover-bg,
    $sidebar-light-color,
    $sidebar-light-hover-color,
    $sidebar-light-active-color,
    $sidebar-light-submenu-bg,
    $sidebar-light-submenu-color,
    $sidebar-light-submenu-hover-color,
    $sidebar-light-submenu-hover-bg,
    $sidebar-light-submenu-active-color,
    $sidebar-light-submenu-active-bg
  );
}

.sidebar-color-primary {
  @include sidebar-color($primary);
}

// Sidebar navigation menu
.nav-sidebar {
  // All levels
  .nav-item {
    > .nav-link {
      margin-bottom: .2rem;

      .right {
        @include transition(transform $transition-fn $transition-speed);
        transform: none #{"/*rtl:rotate(-180deg)*/"};
      }
    }
  }

  // All levels
  .nav-link > .right,
  .nav-link > p > .right {
    position: absolute;
    right: 1rem;
    top: .7rem;
  }

  .nav-link {
    position: relative;
    width: 100%;

    p {
      display: inline;
      padding-left: .5rem;
      margin: 0;
    }

    .nav-icon {
      padding-left: .3rem;
    }
  }

  .nav-header {
    font-size: .9rem;
    padding: $nav-link-padding-y ($nav-link-padding-y * 1.5);
  }

  // Tree view menu
  .nav-treeview {
    display: none;
    list-style: none;
    padding: 0;
  }

  .menu-open {
    > .nav-treeview {
      display: block;
    }
  }

  .menu-open,
  .menu-is-opening {
    > .nav-link {
      svg.right,
      i.right {
        transform: rotate(-90deg) #{"/*rtl:rotate(-90deg)*/"};
      }
    }
  }
}
