//
// Core: Brand
//

.sidebar-brand {
  display: flex;
  justify-content: space-between;
  padding: $lte-brand-link-padding-y $lte-brand-link-padding-x;
  overflow: hidden;
  font-size: $navbar-brand-font-size;
  white-space: nowrap;
  border-bottom: $lte-brand-link-border-buttom solid var(--#{$prefix}border-color);
  @include transition(width $lte-transition-speed $lte-transition-fn);

  .brand-link {
    flex: 1;
    &:hover {
      text-decoration: none;
    }

    .brand-image {
      float: left;
      width: auto;
      max-height: 33px;
      margin-top: -3px;
      margin-right: .5rem;
      margin-left: .8rem;
      line-height: .8;
    }
  }

  .pushmenu {
    flex: 0;
    margin-left: auto;
  }

  .brand-link,
  .pushmenu {
    color: rgba(var(--#{$prefix}emphasis-color-rgb), .8);
    @include transition(flex $lte-transition-speed $lte-transition-fn, width $lte-transition-speed $lte-transition-fn);
    &:hover {
      color: var(--#{$prefix}emphasis-color);
    }
  }
}

.sidebar-collapse:not(.sidebar-is-hover) {
  .sidebar-brand {
    .brand-link {
      width: 0;
    }
    .pushmenu {
      flex: auto;
    }
  }
}
