.sidebar {
  // min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: $lte-sidebar-padding-y;
  padding-left: $lte-sidebar-padding-x;
  padding-right: $lte-sidebar-padding-x;
  padding-top: $lte-sidebar-padding-y;
  @include scrollbar-color-gray();
  @include scrollbar-width-thin();
}
