//
// Core: Sidebar Mini
//

// A fix for text overflow while transitioning from sidebar mini to full sidebar
.nav-sidebar,
.nav-sidebar > .nav-header,
.nav-sidebar .nav-link {
  white-space: nowrap;
}

.sidebar-collapse {
  .main-sidebar {
    min-width: $lte-sidebar-mini-width;
    max-width: $lte-sidebar-mini-width;
  }

  // Make the sidebar headers
  .nav-sidebar .nav-header {
    display: none;
  }

  .nav-sidebar {
    .nav-link {
      width: $lte-sidebar-mini-width - $lte-sidebar-padding-x * 2;
    }
  }

  .nav-sidebar .nav-link p {
    width: 0;
    white-space: nowrap;
  }

  .nav-sidebar .nav-link p,
  .brand-link {
    margin-left: -10px;
    visibility: hidden;
    animation-name: fadeOut;
    animation-duration: $lte-transition-speed;
    animation-fill-mode: both;
  }

  &.sidebar-is-hover {
    .main-sidebar {
      min-width: var(--#{$lte-prefix}sidebar-width);
      max-width: var(--#{$lte-prefix}sidebar-width);
    }

    .nav-sidebar .nav-header {
      display: inline-block;
    }

    .nav-sidebar .nav-link {
      width: subtract(var(--#{$lte-prefix}sidebar-width), $lte-sidebar-padding-x * 2);
    }

    .nav-sidebar .nav-link p,
    .brand-link {
      margin-left: 0;
      visibility: visible;
      animation-name: fadeIn;
      animation-duration: $lte-transition-speed;
      animation-fill-mode: both;
    }
  }
}
