@include media-breakpoint-up(lg) {
  .sidebar-horizontal {
    .wrapper {
      grid-template-areas:
        "main-header"
        "main-sidebar"
        "content-wrapper"
        "main-footer";
      grid-template-rows: max-content max-content auto max-content;
      grid-template-columns: auto;
    }

    .main-sidebar {
      z-index: $lte-zindex-sidebar-horizontal;
      display: grid;
      justify-content: start;
      min-width: $lte-sidebar-horizontal-width;
      max-width: $lte-sidebar-horizontal-width;
      height: $lte-sidebar-horizontal-height;
    }

    .brand-container {
      display: none;
    }

    .sidebar {
      // overflow: visible;
      overflow-x: auto;
      overflow-y: hidden;

      // padding-top: .75rem;

      .nav-sidebar {
        display: grid;
        grid-auto-columns: 130px;
        grid-auto-flow: column;
        list-style-type: none;
        // grid-gap: 5px;

        .nav-header {
          display: none;
        }

        .nav-item > .nav-link {
          display: grid;
          grid-auto-flow: row;
          justify-content: center;

          .nav-icon {
            padding-left: 0;
            text-align: center;
          }

          p {
            padding-left: 0;
          }
        }
      }
    }

    &.sidebar-close {
      .main-sidebar {
        margin-top: -#{$lte-sidebar-horizontal-height};
      }
    }
  }
}
