//
// Component: Users List
//

.users-list {
  @include list-unstyled ();

  > li {
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;

    img {
      @include border-radius(50%);
      max-width: 100%;
      height: auto;
    }

    > a:hover {
      &,
      .users-list-name {
        color: var(--#{$prefix}body-color);
      }
    }
  }
}

.users-list-name,
.users-list-date {
  display: block;
}

.users-list-name {
  overflow: hidden;
  font-size: $font-size-sm;
  color: var(--#{$prefix}secondary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users-list-date {
  font-size: 12px;
  color: var(--#{$prefix}tertiary-color);
}
