// Body background (Affects main content background only)
$lte-main-bg-dark:                 $body-bg-dark !default;
$lte-main-color-dark:              $body-color-dark !default;

// Dark sidebar
$lte-sidebar-dark-bg-dark:         $dark !default;

// Light sidebar
$lte-sidebar-light-bg-dark:        $light !default;
