footer.main-footer
  .pull-right.hidden-xs
    b Version
    |  2.0
  strong
    | Copyright © 2014-2015&nbsp;
    a(href='http://almsaeedstudio.com') Almsaeed Studio
    | .
  |  All rights reserved.
